body {
    margin: 0;
	padding: 0;
	border: 0;
}

.Gridcontainer {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: min-content 5fr min-content;
    grid-template-columns: 6fr 1fr;
}

.header {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: whitesmoke;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
}

.header svg {
    width: 5rem;
    max-height: 4.5rem;
}

.footer {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    padding: .5rem;
    width: 100vw;
}

.footer svg {
    width: 2rem;
    height: 1.5rem;
}

.main {
    display: grid;
    grid-auto-rows: min-content;
}

.main .intro{
    display: flex;
    flex-direction: row;
    background-color: slategray;
    color: black;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    width: 100%;
    max-height: min-content;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: .5rem;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    max-height: min-content;
}

.cardBooks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: .8rem;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    max-height: min-content;
}

.cardBooks button {
    margin: 0rem 2rem;
}

.hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1rem;
}

.intro img {
    width: 3rem;
    height: 3rem;
}

.plus {
    display:grid;
    grid-template-rows: min-content min-content;
    background-color: slategray;
    grid-column-start: 2;
}

.recommends {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    gap: .5rem;
    padding: 1rem;
}

.plus button {
    width:fit-content;
    height: fit-content;
    padding: 0;
    border: 0;
    border-radius: 2rem;
    background-color: black;
}

.plusButton{
    width: 4rem;
    height: 4rem;
}

.plus button:hover {
    transform: scale(1.1);
}


.mangas img {
    width: 3rem;
    height: 3.5rem;
}

.self img {
    width: 3rem;
    height: 3.5rem;
}

.mangas, .self {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.needThick {
    font-weight: 700;
}

.book {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.info {
    font-size: .8rem;
    font-weight: 600;
}

.addBtn {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.addBook {
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
    color: black;
}

/* Style the modal container */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1;
}

/* Style the modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the modal horizontally */
    margin-top: 10%; /* Center the modal vertically */
    position: relative;
}

/* Style the close button (X) */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Style the close button on hover */
.close:hover {
    background-color: #f44336;
    color: white;
}
